// $backgroundColor: #026ccf;
// $hoverColor: #3489d8;
// $selectedColor: #014b90;
$backgroundColor: #333333; // Grey500
$hoverColor: #666666; // Grey 400
$selectedColor: #026CCF;


$borderColor: #E6E6E6;
$verticalLineColor: #7d7d7d;
$naviBarWidth: 300px;
$naviBarItemHeight: 40px;

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  // background: orange;        /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid $backgroundColor; /* creates padding around scroll thumb */
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;

  * {
    user-select: none;
    box-sizing: border-box;
  }
  .header {
    height: 60px;
    border-bottom: 1px solid $borderColor;
    width: 100%;
    display: flex;
    align-items: center;
    .logo {
      background-image: url(img/NewLogo.png);
      width: 200px;
      height: 30px;
      margin: 15px 15px 15px 25px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .profile {
      width: 32px;
      height: 32px;
      background-color: #7d7d7d;
      border-radius: 50%;
      margin-right: 20px;
    }
  }
  .contentPanel {
    display: flex;
    height: calc(100% - 61px);
    flex-grow: 1;
    position: relative;

    .leftNavi {
      background-color: $backgroundColor;
      transition: 0.2s;
      width: $naviBarWidth;
      overflow-x: hidden;
      z-index: 100;
      position: relative;

      * {
        flex-shrink: 0;
      }

      &.collapsed {
        width: 72px;
        transition: 0.2s;

        .navigationContainer {
          overflow: hidden;
        }
        h4,
        .level2Item,
        .level1Children,
        .level2Children,
        .pinButton {
          transition: 0;
          opacity: 0;
          visibility: hidden;
          max-height: 0;
        }
      }
      .topBar {
        padding: 0 24px;
        height: $naviBarItemHeight;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: $backgroundColor;
        z-index: 1;
        border-bottom: 1px solid $hoverColor;

        .leftArrow {
          background-image: url(img/Back.svg);
        }

        .rightArrow {
          background-image: url(img/Back.svg);

          transform: rotate(180deg);
        }

        .pinButton {
          background-image: url(img/Pin.svg);

          &.pined {
            transform: rotate(-45deg);
          }
        }
      }
      .navigationContainer {
        color: #e6e6e6;
        position: absolute;
        top: $naviBarItemHeight;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 8px 0 24px 0;

        .group {
          > * {
            line-height: $naviBarItemHeight;

            font-size: 14px;
          }
          h4 {
            margin: 0;
            padding: 0 24px;
            color: #e6e6e6;
            text-transform: uppercase;
            font-weight: bold;
          }
          .level1 {
            &.expanded {
              .level1Children {
                transition: 0.2s;
                opacity: 1;
                max-height: 600px;
                visibility: visible;
              }

              .chevronIcon {
                transform: rotate(0deg);
              }
            }
            .level1Item {
              padding: 0 16px;
              cursor: pointer;
              white-space: nowrap;
              margin: 2px 8px;
              border-radius: 4px;

              &.selected {
                background-color: $hoverColor !important;
                color: white;
                font-weight: bold;
                .icon{
                  fill: white;
                }
              }
              &:hover {
                background-color: $hoverColor;
              }
              display: flex;
              align-items: center;
              span {
                margin-left: 24px;
                flex-grow: 1;
              }
            }
            .level1Children {
              transition: 0;
              opacity: 0;
              visibility: hidden;
              max-height: 0;
              margin: 0;
              list-style-type: none;
              padding: 0;
              background-image: linear-gradient(to right, transparent 97%, $verticalLineColor 3%);
              background-size: 36px 100%;
              background-repeat: no-repeat;

              .level2 {
                &.expanded {
                  .level2Children {
                    transition: 0.2s;
                    opacity: 1;
                    max-height: 300px;
                    visibility: visible;
                  }

                  .chevronIcon {
                    transform: rotate(0deg);
                  }
                }
              }

              .level2Item {
                cursor: pointer;
                padding: 0 16px;
                white-space: nowrap;
                margin: 2px 8px 2px 56px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &.selected {
                  background-color: $hoverColor !important;
                  color: white;
                  font-weight: bold;
                }
                &:hover {
                  background-color: $hoverColor;
                }
              }
            }

            .level2Children {
              transition: 0;
              opacity: 0;
              visibility: hidden;
              max-height: 0;
              margin: 0;
              list-style-type: none;
              padding: 0;
              background-image: linear-gradient(to right, transparent 97%, $verticalLineColor 3%);
              background-size: 36px 100%;
              background-position: 44px;
              background-repeat: no-repeat;

              .level3Item {
                cursor: pointer;
                padding-left: 16px;
                white-space: nowrap;
                margin: 2px 8px 2px 96px;
                border-radius: 4px;

                &.selected {
                  background-color: $selectedColor !important;
                  color: white;
                  font-weight: bold;
                }
                &:hover {
                  background-color: $hoverColor;
                }
              }
            }
          }
        }
      }
    }
    .table {
      flex-grow: 1;
      position: absolute;
      top: 0;
      left: 72px;
      bottom: 0;
      right: 0;
      background-image: url(contentPanel.svg);
      background-size: auto 1000px;
      background-repeat: no-repeat;

      &.pined {
        left: $naviBarWidth;
        &.collapsed {
          left: 72px;
        }
      }
    }
    .toolbar {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: #f5f5f5;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px 0;
      width: 40px;
      border-left: 1px solid $borderColor;
    }
  }
}

.flexSpacer {
  flex-grow: 1;
}

.iconCircle {
  width: 24px;
  height: 24px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  cursor: pointer;

  &.deviceIcon {
    background-image: url(img/Devices.svg);
  }

  &.chevronIcon {
    background-image: url(img/Chevron.svg);
    transform: rotate(-90deg);
  }
  &.automationIcon {
    background-image: url(img/Automation.svg);
  }
  &.alertIcon {
    background-image: url("img/Alert Management.svg");
  }
  &.reportingIcon {
    background-image: url(img/Reports.svg);
  }
  &.integrationsIcon {
    background-image: url(img/Integrations.svg);
  }
  &.elementsIcon {
    background-image: url(img/Elements.svg);
  }
  &.packagesIcon {
    background-image: url(img/Packages.svg);
  }
  &.policiesIcon {
    background-image: url(img/Policies.svg);
  }
  &.dashboardIcon {
    background-image: url(img/Dashboard.svg);
  }
  &.quickAccessIcon {
    background-image: url("img/Quick Access.svg");
  }
  &.patchesIcon {
    background-image: url(img/Patching.svg);
  }
  &.scriptsIcon {
    background-image: url(img/Scripts.svg);
  }
  &.reportsIcon {
    background-image: url(img/Reports.svg);
  }
  &.adminIcon {
    background-image: url("img/Business Profile.svg");
  }
  &.rmmSetupIcon {
    background-image: url(img/RMM.svg);
  }
  &.bdrIcon {
    background-image: url(img/BDR.svg);
  }
  &.securityIcon {
    background-image: url(img/Security.svg);
  }
}
